* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* BOARD */
.todo-board {
  height: 100vh;
  padding: 1.5em;

  display: flex;
  gap: 16px;

  justify-content: center;
  align-items: flex-start;

  overflow-x: auto; 
  background: #ddfdfb;
}

/* COLUMN */
.base-column {
  flex: 1;
  min-width: 280px;
  max-width: 360px;
  min-height: 200px;

  background: white;
  border: 2px solid #cfcfcf;
  border-radius: 10px;

  padding: 1em;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-column {
  padding: .5em;
}

.todo-column {
  background: rgb(255, 183, 183);
  border: 2px solid #c23939;
}

.doing-column {
  background: rgb(239, 255, 183);
  border: 2px solid #b9c239;
}

.done-column {
  background: rgb(197, 255, 183);
  border: 2px solid #44c239;
}

/* CARD */
.card {
  width: 100%;
  padding: .5em;
  margin: 1em 0;

  border: 1px solid #cfcfcf;
  border-radius: 8px;

  background: #fff;
  cursor: grab;
}

.card-todo {
  background: #c06c6c;
  color: rgb(253, 163, 163);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.card-doing {
  background: #c8ce74;
  color: lightyellow;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.card-done {
  background: #82c77c;
  color: rgb(218, 255, 218);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.card-info {
  display: flex;
  align-items: center;
  gap: 1em;
}

.card-info > button {
  padding: 5px 10px;
  color: white;
  background: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* INPUT */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8em;
  margin: .5em 1em;
}

header > h1 {
  font-size: 4rem;
}

.todo-form {
  border: 2px solid #cfcfcf;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: .5em;
}

.todo-form > input {
  padding: .2em;
  border: 1px solid gray;
  border-radius: 5px;
}

.todo-form > button {
  padding: .5em;
  width: 100px;
  margin: 0 auto;
  background: lightcyan;
  border: 2px solid cadetblue;
  border-radius: 10px;
  cursor: pointer;
}

.todo-form > button:hover {
  background: rgb(192, 255, 255);
  border: 2px solid rgb(30, 96, 99);
}

.todo-form > textarea {
  resize: none;
  padding: .2em;
  border: 1px solid gray;
  border-radius: 5px;
}

.todo-form > input:focus, .todo-form > textarea:focus {
  background: lightcyan;
  outline: 1px solid cadetblue;
}